/* app css stylesheet */
.post{
    border: solid #3c3c3c;
    border-radius: 0 30px 0 30px;
    overflow:auto;
}
.header{
    max-width:100%;
    height:auto;
}
.postPhoto {
    max-width: 100%;
    height: auto;
    float:left;
    border-radius: 20% 10% 20% 10%;
    max-height: inherit;
}
md-card{
    overflow:auto;
}
.nav-link:hover{
    background-color: #5bc0de;
    border-radius: 25px;
}
ul{
    width: 100%;
}
.content{
}

.container{
    background-color: #8c8c8c;
}
.edited{
    font-style: italic;
}
.loginBtn{
    position: absolute !important;
    right:0;
    top:0;
}
.loggedAs{
    position: absolute !important;
    left:0;
    top:0;
}
.alert{
    text-align:center;
}
.errorMessage{
    color:red;
    background-color:pink;
    text-align: center;
}